body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.photo-box {
    position: relative;
    width: calc(20% - 20px); 
    height: 600px;
    margin: 1px; 
    overflow: hidden;
    box-sizing: border-box;
}

.photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    z-index: 1;
    position: relative;
}

.photo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.2s, filter 0.2s;
}

.photo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)); 
    
}

.photo:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
}

.photo:hover {
    transform: scale(1.07); 
    filter: grayscale(100%) blur(0.5rem); 
}

.photo-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    z-index: 2; 
}

.photo-info h2 {
    color: #fff;
    margin: 0;
    font-size: 25px;
    padding-left: 30px;
}

.details-link {
    color: rgb(12, 179, 245);
    text-decoration: none;
    font-size: 14px;
    display: none;
    margin-top: 5px;
    padding-left: 30px;
}

.details-link::after {
    content: " →"; 
    color: inherit; 
}

.photo-box:hover .details-link {
    display: block; 
}

.photo-box:hover .photo-info {
    bottom: 5%; 
}

.details-link:hover {
    text-decoration: none;
    color: rgb(12, 179, 245); 
}

.photo-info p {
    color: #fff;
    padding-left: 30px;
}
